{
    "RootNamespace": "GoExpressTMS",
    "Connections": [
        {
            "Key": "Default",
            "ConnectionString": "Data Source=(LocalDb)\\MSSqlLocalDB; Initial Catalog=GoExpressTMS; Integrated Security=True",
            "ProviderName": "System.Data.SqlClient",
            "Tables": [
                {
                    "Tablename": "dbo.Pessoa",
                    "Identifier": "Pessoa_Motorista",
                    "Module": "CadastroBasico",
                    "ConnectionKey": "Default",
                    "PermissionKey": "CadastroBasico:Pessoa_Motorista"
                },
                {
                    "Tablename": "dbo.Motorista",
                    "Identifier": "Motorista",
                    "Module": "Auxiliar",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Auxiliar:Motorista"
                },
                {
                    "Tablename": "dbo.VeiculoFabricante",
                    "Identifier": "Fabricante",
                    "Module": "CadastroBasico",
                    "ConnectionKey": "Default",
                    "PermissionKey": "CadastroBasico:Fabricante"
                },
                {
                    "Tablename": "dbo.VeiculoModelo",
                    "Identifier": "Modelo",
                    "Module": "CadastroBasico",
                    "ConnectionKey": "Default",
                    "PermissionKey": "CadastroBasico:Modelo"
                }
            ]
        }
    ],
    "KDiff3Path": "C:\\Program Files (x86)\\KDiff3\\kdiff3.exe",
    "TFSIntegration": false,
    "WebProjectFile": "..\\..\\..\\GoExpressTMS\\GoExpressTMS.Web\\GoExpressTMS.Web.csproj",
    "BaseRowClasses": [],
    "RemoveForeignFields": [],
    "CustomGenerate": {},
    "CustomSettings": {},
    "GenerateRow": true,
    "GenerateService": true,
    "GenerateUI": true,
    "GenerateCustom": true
}