@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.CadastroBasico.Modelo.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new GoExpressTMS.CadastroBasico.ModeloGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>