@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Auxiliar.GrauInstrucao.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new GoExpressTMS.Auxiliar.GrauInstrucaoGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>